/* @font-face {
    font-family: 'Red Hat Display';
    src: url('./fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
} */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap');


@font-face {
    font-family: 'gloria';
    src: url('./fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf') format('truetype');
}

@keyframes pulseGrow {
    0% {
      transform: rotate(-30deg) scale(1);
    }
  
    50% {
      transform: rotate(-30deg) scale(.93);
    }
  
    100% {
      transform: rotate(-30deg) scale(1);
    }
  }

  .focus-effect {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

div {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 3px;
}

body {
    margin: 0;
    background-color: aliceblue;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-section {
    font-size: 1.2rem;
    padding-top: 0;
    margin-top: 0;
    border-radius: 3px;
    background-color: white;
    padding: 1rem;
    margin: 2rem;
    transition: box-shadow 0.3s ease-in-out;
}
.content-section h1 {
    color: #2C3D55;
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 3px solid #eff8ff;
    padding-bottom: 5px;
    text-align: center;
}
.content-section h2 {
    color: #2C3D55;
    margin-top: 0;
}


.proj-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-section h1 {
    margin: 0 0 0 0;
}

/* project section*/


.project-card {
    background-color: white;
    text-align: center;
    margin: 0;
    width: 90%;
    display: grid;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    padding: 1rem;
    z-index: 50;
    box-shadow: 0 0 1rem .5rem aliceblue;
    transition: all .2s ease;
    align-items: center;
}

.project-card:hover {
    box-shadow: 0 0 1rem 1rem aliceblue;
    transform: translate(-5px, -5px);
}

.project-card p {
    grid-column: 1/2;
    margin: .5rem 0;
    padding: 0 .2rem 0 .2rem;
}   
.project-card h2 {
    grid-column: 1/2;
    padding: 0 .2rem 0 .2rem;
    margin: 0 .5rem;
}   

.project-card img {
    width: 25rem;
    grid-row: 1/ 5;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 1rem .5rem aliceblue;
}

/* project cards end */

/* certifications start */

.cert-content {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.cert-card {
    background-color: white;
    text-align: center;
    margin: 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 1rem;
    padding: 1rem;
    z-index: 50;
    box-shadow: 0 0 1rem .5rem aliceblue;
    transition: all .2s ease;
}

.cert-card:hover {
    box-shadow: 0 0 1rem 1rem aliceblue;
    transform: translate(-5px, -5px);
}

.cert-card {
    z-index: 1;
    position: relative;
}

.cert-card p {
    position: relative;
}
.cert-card h4 {
    color: #2C3D55;
    font-size: 1.5rem;
    position: relative;
}

.cert-img {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    opacity: .08;
}

/* certifications end */



/* technologies start */

.technologies {
    padding: .5rem;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.tech-block {
    font-size: bold;
    margin: .25rem;
    border-radius: 3px;
    padding: 0 .3rem 0 .3rem;
    color: white;
    background-color: rgb(55, 84, 110);
    box-shadow: 0 0 1rem .05rem aliceblue;
}

/* technologies end */

/* extrac content */

.extrac-content {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}

.extrac-content p {
    grid-column: 1/2;
    margin: .5 1rem;
}

.extrac img{
    width: 400px;
    grid-column: 2/3;
    grid-row: 1/6;
    justify-self: center;
}

/* extrac end */

/* jump to top button start */

.jump-to-top {
    background-color: aliceblue;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 1rem .2rem rgb(185, 203, 219);
}
.jump-to-top:hover {
    cursor: pointer;
}
.jump-to-top img:hover {
    width: 2.4rem;
}

.jump-to-top img{
    width: 2rem;
}

.in-text-jump {
    font-weight: bold;
    color: #407899;
}

.in-text-jump:hover {
    cursor: pointer;
    color: #FF784F;
}

.copyright {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}
/* jump to top button end */

@media (min-width: 768px) {
/* on mobile we use active */

.mobile-header {
    display: none;
}

.side-bar {
    position: fixed;
    display: grid;
    background-color: aliceblue;
    height: 100vh;
    width: 10rem;
    border-right: 2px solid #E2F0FB;
}

.side-bar ul {
    list-style: none;
    margin-left: 3rem;
    padding-left: 0;
    grid-row: 1/2;
}

.side-bar li {
    padding: .2rem;
    font-weight: bold;
}
.side-bar ul li:hover {
    font-weight: bold;
    cursor: pointer;
    color: #FF784F;
}

.side-bar-bottom {
    grid-row: 3/4;
    align-self: end;
    padding-bottom: 1rem;
}

header {
    padding: .5rem;
    background-color:white;
    position: fixed;
    width: 100%;
    margin-right: 1rem;
    /* box-shadow: .1rem 0 .5rem 1rem white; */
    border-bottom: 2px solid #E2F0FB;
    z-index: 100;
}

header ul {
    width: 30rem;
    padding-left: 0;
}
header ul li{
    justify-self: center;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
    font-weight: bold;
}

header ul li:hover {
    font-weight: bold;
    cursor: pointer;
    color: #FF784F;
}

.primary {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    padding-left: .2rem;
}

.duck {
    width: 5rem;
    margin-left: 2rem;
    padding-left: 0rem;
    margin-top: 1rem;
}

.introduction {
    display: grid;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.introduction h1 {
    grid-column: 1/2;
    margin-top: 1rem;
    margin-bottom: 0;
    border-bottom: 0;
}
.introduction p {
    grid-column: 1/2;
    text-align: center;
    font-size: 1.2rem;
    margin: .5rem;
}
.introduction img {
    grid-column: 2/3;
    grid-row: 1/ 6;
    max-width: 400px;
    align-self: center;
    justify-self: center;
}


.story {
    text-align: center;
}

.get-in-touch {
    grid-row: 3;
}

.get-in-touch img{
    rotate: 30deg;
    width: 7rem;
    margin-left: 2rem;
}

.get-in-touch p {
    margin-bottom: .5rem
}

.get-in-touch p, .get-in-touch img{
    font-family: 'gloria';
    font-size: 1.2rem;
    line-height:1.6rem;
    text-align: center;
    transform: rotate(-30deg);
	animation: pulseGrow 3s infinite;
}

.hidden {
    display: none;
}

.mobile-header {
    display: none;
}

.drop-down-menu {
    display: none;
}

.drop-down-menu ul {
    display: none;
}

.drop-down-menu img {
    display: none;
}

}

/* intermediate view start */

@media (max-width: 900px) {

    .introduction {
        display: flex;
        flex-direction: column;
    }

    .introduction img {
        margin-top: 10px;
    }

    .project-card {
        display: flex;
        flex-direction: column;
    }

    .cert-card {
        display: flex;
        flex-direction: column;
    }
}

/* mobile view */
@media (max-width: 768px) {

    body {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
      }
    body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

    .proj-content {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        flex-direction: column;
        display: flex;
        box-shadow: 0 0 1rem 5px aliceblue;
    }

    .cert-card {
        flex-direction: column;
        display: flex;
        width: 90%;
        box-shadow: 0 0 1rem 5px aliceblue;
    }


    .cert-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cert-card {
        flex-direction: column;
        display: flex;
    }

    .extrac-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .content-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 1rem .2rem;
        margin: .5rem .2rem .5rem .2rem;
    }


    .introduction {
        margin-top: 4rem;
    }

    .content-section p {
        text-align: center;
    }

    .content-section img {
        max-width: 60vw;
    }

    /* mobile header */
    .mobile-header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 4rem;
        width: 100vw;
        height: 4rem;
        background-color: aliceblue;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .duck-head {
        justify-self: left;
        height: 3.5rem;
        margin-left: 1rem;
        align-self: end;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger img {
        width: 2.5rem;
    }

    /* end mobile header */

    /* mobile drop down */

    .drop-down-menu {
        display: none;
        text-align: center;
        background-color: aliceblue;
        position: fixed;
        width: 100vw;
        height: 22rem;
        top: 0;
        left: 0;
        font-size: 2rem;
        border-bottom: 2px solid #E2F0FB;
        z-index: 100;
    }

    .drop-down-duck {
        justify-self: right;
        padding: 0;
        margin-left: .3rem;
        margin-top: .75rem;
        margin-right: .5rem;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        max-width: 90%;
        max-height: 90%;
        opacity: .05;
    }
    .drop-down-menu .drop-down-exit {
        width: 2rem;
        position: absolute;
        padding: 0;
        top: 12px;
        right: 12px;
    }

    .drop-down-menu img:hover {
        cursor: pointer;
    }

    .drop-down-menu ul li {
        font-weight: bold;
        margin-top: 0;
        color: black;
    }



    .drop-down-menu .drop-down-link-container li:hover {
        cursor: pointer;
    }
    .drop-down-menu .drop-down-link-container li:active {
        color: #FF784F;
    }

    .drop-down-link-title {
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        margin-top: .5rem;
    }

    .drop-down-links {
        grid-column: 1/2;
        grid-row: 2/span;  
        justify-self: center;
    }

    .drop-down-exit {
        width: 2rem;
        padding: .5rem;
    }

    .exit-container {
        display: flex;
        justify-self: right;
        align-items: start;
    }

    .in-text-jump:active {
        color:#FF784F;
    }

    /* end mobile drop down */

    /* change browser view */
    .side-bar {
        display: none;
    }
    header {
        display: none;
    }
    .primary {
        margin-left: 0;
    }
    /* end change browser view */
}
